<!doctype html>
<!--  TODO: Thymeleaf 템플릿 엔진 오류 메시지 "Namespace 'th' is not bound" 출력되어 아래처럼 코드 추가(<html xmlns:th="http://www.thymeleaf.org">) (2025.07.28 minjae)  -->
<!--  참고 URL - https://chatgpt.com/c/6886b0a4-4f98-8010-8034-85384f67f258  -->
<!--  아래 xmlns:th에서 th는 Thymeleaf의 약자 이다.  -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">   <!-- 상대경로를 / 부터 시작하면(href="/main.css") static 폴더에 속한 파일들 접근 및 사용가능 -->
</head>
<body>
  <!--  TODO: 세로 네비게이션 바 구현 (2025.08.22 minjae)  -->
  <!--  참고 URL - https://claude.ai/chat/ebb54eb1-33d3-4110-9fb4-84bac57de41d  -->
  <!--  참고 2 URL - https://claude.ai/chat/a5beec3c-7f65-432a-aed9-791880646ce9  -->
  <!--  세로 네비게이션 바  -->
  <div class="nav" th:fragment="navbar">
    <a class="logo">SpringMall</a>
    <a href="/list">List</a>
    <a href="/write">Write</a>
  </div>

  <div class="main-content">
    <div>
      <img>
      <!--  <h4>바지</h4>  -->
      <!--  Thymeleaf 템플릿 엔진(Thymeleaf 문법) 사용해서 웹서버데이터(ItemController.java -> model.addAttribute("name", "홍길동");)를 list.html 파일에 박아서 화면 출력  -->
      <!--  <h4> 태그안의 문자열('바지')이 변수 name(th:text="${name}")에 저장된 값(문자열 - "홍길동")으로 바뀌어서 화면 출력  -->
      <!--  아래 th:text에서 th는 Thymeleaf의 약자 이다.  -->
      <h4 th:text="${name}">바지</h4>
      <p>7억</p>
    </div>
    <div>
      <img>
      <h4>셔츠</h4>
      <p>8억</p>
    </div>
  </div>
</body>
</html>